# Python & Virtual Environments
.venv/
__pycache__/
*.pyc

# OpenFOAM Heavy Time & Processor Folders
0.*/
[0-9]*/
!0.orig/
processor*
postProcessing/
dynamicCode/

# Heavy Geometry & Mesh Artifacts
*.msh
*.stl
*.obj
*.vtk
*.unv
*.med
polyMesh/
triSurface/

# Logs & System Files
log.*
*.foam
.vscode/
.DS_Store

# images and videos
*.bmp
*.jpg
*.png
*.mp4

# hpc temp files
hpc_run/